<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>driver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="driver-card">
    <h1>SafeKIDS</h1>
    <div class="driver-info">
      <img [src]="driverInfo.Imagen || 'assets/default-avatar.png'" alt="Driver Photo" class="driver-photo">
      <div class="driver-details">
        <h2>Conductor</h2>
        <h3>{{ driverInfo.Nombre }} {{ driverInfo.Apellido }}</h3>
        <p>RUT: {{ driverInfo.RUT }}</p>
      </div>
    </div>
    <ion-button expand="block" (click)="iniciarViaje()">INICIAR VIAJE</ion-button>
    <div class="school-info">
      <ion-icon name="location-outline"></ion-icon>
      <p>{{ schoolInfo.name }}</p>
      <p>{{ schoolInfo.address }}</p>
    </div>
  </div>
</ion-content>
