<ion-content>
  <ion-button-top fill="clear" class="return-button" [routerLink]="['/login']">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button-top>
  <h1 class="app-title">SafeKIDS</h1>
  <div class="white-container">
    <div class="driver-info">
      <div class="driver-image">
        <img [src]="driverImageUrl || 'assets/img/avatar-default.png'" alt="Foto del conductor">
      </div>
      <div class="driver-details">
        <p class="role">Conductor</p>
        <h2 class="name">{{ driverInfo.Nombre }} {{ driverInfo.Apellido }}</h2>
        <p class="vehicle-label">Vehículo</p>
        <p class="vehicle-model"><strong>{{ busInfo.Modelo }}</strong></p>
        <p class="vehicle-plate">{{ busInfo.ID_Placa }}</p>
      </div>
    </div>
    <div class="div">
      <ion-button expand="full" (click)="iniciarViaje()">Iniciar Viaje</ion-button>
    </div>
    <div class="school-info">
      <h3 class="school-name">{{ schoolInfo.Nombre }}</h3>
      <p class="school-address">{{ schoolInfo.Direccion }}</p>
    </div>
  </div>
</ion-content>
