<ion-content>
  <ion-button fill="clear" class="return-button" routerLink="/login" style="color: white;">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <div class="recover-container">
    <div class="logo-container">
      <img src="assets/img/school-bus.png" alt="Logo" class="logo">
    </div>
    <h1>Recuperar Contraseña</h1>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Ingrese su Nombre y Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="nombreCompleto" name="nombreCompleto" required placeholder="Nombre Completo"></ion-input>
      </ion-item>
      <div *ngIf="errorMessage && errorMessage.includes('nombre completo')" class="error-message">{{ errorMessage }}</div>

      <ion-item>
        <ion-label position="stacked">Ingrese su RUT</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="rut" 
          name="rut" 
          required 
          placeholder="RUT" 
          (ionInput)="formatRUT($event)" 
          maxlength="10">
        </ion-input>
      </ion-item>
      <div *ngIf="errorMessage && errorMessage.includes('RUT')" class="error-message">{{ errorMessage }}</div>

      <ion-item>
        <ion-label position="stacked">Ingrese su Correo Electrónico</ion-label>  
        <ion-input type="email" [(ngModel)]="correo" name="correo" required placeholder="Correo Electrónico"></ion-input>
      </ion-item>
      <div *ngIf="errorMessage && errorMessage.includes('correo electrónico')" class="error-message">{{ errorMessage }}</div>

      <ion-button expand="full" type="submit">Recuperar Contraseña</ion-button>
    </form>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <p class="login-link">
      ¿Ya tienes una cuenta? 
      <a [routerLink]="['/login']" style="color: rgb(255, 196, 0);">Iniciar sesión aquí</a>
    </p>
  </div>
</ion-content>