ion-content {
    --background: linear-gradient(120deg, #4dd0e1, #1e3ce5);
  }
  
  .recover-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 5vh; // Espaciado superior
    align-items: center; // Centrar horizontalmente
  }
  
  .logo-container {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; // Altura del logo
    max-height: 120px; // Altura máxima
  
    .logo {
      width: auto;
      height: 100%;
      max-height: 120px;
    }
  }
  
  h1 {
    color: #fff;
    font-size: 2.5rem; // Tamaño de fuente más grande
    font-weight: bold;
    text-align: center;
    margin: 1rem 0; // Espacio arriba y abajo
  }
  
  form {
    width: 80%; // Ancho del formulario
  }
  
  ion-item {
    --background: rgba(255, 255, 255, 0.2); // Fondo de los inputs
    --border-radius: 1rem; // Bordes redondeados
    margin-bottom: 1rem; // Espacio entre los inputs
  }
  
  ion-input {
    --padding-top: 0.75rem; // Espaciado interno
    --padding-bottom: 0.75rem; // Espaciado interno
    --placeholder-color: rgba(255, 255, 255, 0.7); // Color del placeholder
    color: #ffffff; // Color del texto
    font-size: 1rem; // Tamaño de fuente
  }
  
  ion-button {
    margin-top: 1.5rem; // Espacio encima del botón
    --background: #ffffff; // Color de fondo del botón
    --color: #1e3ce5; // Color del texto del botón
    --border-radius: 2rem; // Bordes redondeados
    font-weight: bold;
    width: 100%; // Botón de ancho completo
    height: 4rem; // Altura del botón
    font-size: 1.5rem; // Tamaño de fuente del botón
  }
  
  .login-link {
    color: #fff; // Color del texto del enlace
    margin-top: 1rem; // Espacio encima del enlace
    text-align: center; // Centrar el texto
    font-size: 0.9rem; // Tamaño de fuente más pequeño
  }
  
  .return-button {
    position: absolute; // Asegúrate de que esté en posición absoluta
    top: 10px; // Ajusta la posición vertical
    left: 10px; // Ajusta la posición horizontal
    z-index: 1000; // Asegúrate de que esté por encima de otros elementos
    --color: #ffffff; // Color del ícono
    --background: transparent; // Fondo transparente
    --padding-start: 0; // Sin padding a la izquierda
    --padding-end: 0; // Sin padding a la derecha
    --border-radius: 50%; // Bordes redondeados
    width: 40px; // Ancho del botón
    height: 40px; // Altura del botón
    display: flex; // Para centrar el ícono
    justify-content: center; // Centrar horizontalmente
    align-items: center; // Centrar verticalmente
  
    ion-icon {
      font-size: 2rem; // Tamaño del ícono
    }
  }
  
  .error-message {
    color: red;
    margin-top: 1rem;
    text-align: center;
  }
  
  .success-message {
    color: green;
    margin-top: 1rem;
    text-align: center;
  }