<ion-content>
  <div class="trip-info-overlay">
    <h2>Seguimiento del Viaje</h2>
    <div class="driver-info">
      <img [src]="driverInfo.Imagen || 'assets/img/conductor.jpg'" alt="Foto del conductor" class="driver-photo">
      <div class="driver-details">
        <p class="driver-name">{{ driverInfo.Nombre }} {{ driverInfo.Apellido }}</p>
        <p class="vehicle-id">{{ vehiclePlate }}</p>
        <ion-button size="small" fill="outline">IR AL PERFIL</ion-button>
      </div>
    </div>
  
    <div class="route-info">
      <div id="map"></div>
    </div>
    <div class="map-controls">
      <ion-button (click)="centerMap()" class="center-button">
        <ion-icon name="locate-outline" slot="start"></ion-icon>
        VOLVER A CENTRAR
      </ion-button>
      <div class="distance-info">
        <p>10 min • 2.6 km</p>
      </div>
    </div>
  </div>
</ion-content>