@import "~leaflet/dist/leaflet.css";

#map {
  width: 100%;
  height: 100%;
}

ion-content {
  --background: transparent;
}

// Asegúrate de que otros elementos estén por encima del mapa
ion-fab {
  z-index: 1000;
  margin-bottom: 20px;
  margin-right: 20px;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}