

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div *ngFor="let pasajero of pasajeros" class="passenger-item" (click)="goToStudent(pasajero.FK_PAAlumno)">
    <ion-icon name="location-outline"></ion-icon>
    <span>{{ pasajero.nombre }} {{ pasajero.apellido }}</span>
    <ion-icon [name]="pasajero.Abordo ? 'checkmark-circle' : 'close-outline'" slot="end"></ion-icon>
  </div>
  <ion-button expand="full" (click)="detenerViaje()">DETENER VIAJE</ion-button>
  <ion-button expand="full" (click)="scanStudentQR()">
    <ion-icon name="qr-code-outline"></ion-icon>
    Escanear QR
  </ion-button>
</ion-content>
