<ion-content>
  <ion-button fill="clear" class="return-button" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <h1 class="app-title">Información Alumno</h1>

  <div class="white-container">
    <div class="student-info">
      <div class="student-image">
        <img [src]="studentInfo.imagen || defaultImage" alt="Student Image">
      </div>
      <h2 class="student-name">{{ studentInfo.Nombre }} {{ studentInfo.Apellido }}</h2>
      <p class="student-address">
        <ion-icon name="location-outline"></ion-icon>
        {{ studentInfo.Direccion }}
      </p>
      <div class="info-boxes">
        <div class="info-box">
          <p class="info-label">Género</p>
          <p class="info-value">{{ studentInfo.Genero }}</p>
        </div>
        <div class="info-box">
          <p class="info-label">Edad</p>
          <p class="info-value">{{ studentInfo.Edad }} Años</p>
        </div>
        <div class="info-box">
          <p class="info-label">Curso</p>
          <p class="info-value">{{ studentInfo.Curso }}</p>
        </div>
      </div>
    </div>
    <div class="school-info-box">
      <h3 class="school-name">{{ studentInfo.Colegio }}</h3>
      <p class="school-address">
        <ion-icon name="location-outline"></ion-icon>
        {{ studentInfo.DireccionColegio }}
      </p>
    </div>
  </div>
</ion-content>
