<ion-content>
  <ion-button fill="clear" class="return-button" [routerLink]="['/home-parents']">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <h1 class="app-title">Información Alumno</h1>

  <div class="white-container">
    <div class="student-info">
      <div class="student-image">
        <img src="assets/img/kid.png" alt="Student Image">
      </div>
      <h2 class="student-name">Jorge Muñoz</h2>
      <p class="student-address">
        <ion-icon name="location-outline"></ion-icon>
        AV. Grecia 2024
      </p>
      <div class="info-boxes">
        <div class="info-box">
          <p class="info-label">Genero</p>
          <p class="info-value">Masculino</p>
        </div>
        <div class="info-box">
          <p class="info-label">Edad</p>
          <p class="info-value">6 Años</p>
        </div>
        <div class="info-box">
          <p class="info-label">Curso</p>
          <p class="info-value">2do B</p>
        </div>
      </div>
    </div>
    <div class="school-info-box">
      <h3 class="school-name">Colegio Miravalle</h3>
      <p class="school-address">
        <ion-icon name="location-outline"></ion-icon>
        San Joaquín 123
      </p>
    </div>
  </div>
</ion-content>
