<ion-content>
  <ion-button fill="clear" class="return-button" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <h1 class="app-title">Información Alumno</h1>

  <div class="white-container">
    <div class="student-info">
      <div class="student-image">
        <img [src]="studentInfo.Imagen || defaultImage" alt="Student Image">
      </div>
      <h2 class="student-name">{{ studentInfo.Nombre }} {{ studentInfo.Apellido }}</h2>
      <p class="student-address">
        <ion-icon name="location-outline"></ion-icon>
        {{ studentInfo.Direccion }}
      </p>
      <div class="info-boxes">
        <div class="info-box">
          <p class="info-label">Género</p>
          <p class="info-value">{{ studentInfo.Genero }}</p>
        </div>
        <div class="info-box">
          <p class="info-label">Edad</p>
          <p class="info-value">{{ studentInfo.Edad }} Años</p>
        </div>
        <div class="info-box">
          <p class="info-label">Curso</p>
          <p class="info-value">{{ studentInfo.Curso }}</p>
        </div>
      </div>
    </div>
    <div class="parent-info-box">
      <h3 class="section-title">Apoderado</h3>
      <div class="parent-content">
        <div class="parent-image">
          <img [src]="studentInfo.apoderado?.Imagen || defaultImage" alt="Parent Image">
        </div>
        <div class="parent-details">
          <h3 class="parent-name">{{ studentInfo.apoderado?.Nombre }} {{ studentInfo.apoderado?.Apellido }}</h3>
        </div>
        <ion-button class="whatsapp-btn" (click)="openWhatsApp(studentInfo.apoderado?.Telefono)">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="school-info-box">
      <h3 class="school-name">{{ studentInfo.colegio?.Nombre }}</h3>
      <p class="school-address">
        <ion-icon name="location-outline"></ion-icon>
        {{ studentInfo.colegio?.Direccion }}
      </p>
    </div>
  </div>
</ion-content>
