ion-content {
    --background: linear-gradient(90deg, #4dd0e1, #1e3ce5);
    --padding-start: 0;
    --padding-end: 0;
  }

.app-title {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
.white-container {
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.2rem;
    margin: 1rem;
    height: calc(100% - 2rem); // Adjust height to account for margins
    display: flex;
    flex-direction: column;
    overflow: hidden; // Prevent content from overflowing
  }

.parent-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.3rem;
  }
  
.parent-image {
    margin-right: 1.3rem;
  
    img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  
.parent-details {
    display: flex;
    flex-direction: column;
  
    .label {
      color: #666;
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }
  
    .details-content {
      display: flex;
      flex-direction: column;
    }
  
    .name {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      color: #333;
    }
  
    .edit-image-btn {
      background-color: #f0f0f0;
      border-radius: 1rem;
      padding: 0.7rem 1.2rem;
      font-size: 1.2rem;
      margin-top: 0.8rem;
      align-self: flex-start;
      color: #333;
    }
  }
  
.title-students {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #333;
    text-align: center;
}

.students-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: calc(30vh - 2rem); // Adjust this value as needed
    overflow-y: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.student {
    text-align: center;
    width: 50%; // Ensures 2 students per row with some spacing
    margin-bottom: 1rem;

    img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .name {
        display: block;
        margin-top: 0.4rem;
        font-size: 1rem;
        color: #333;
    }
}

.title-bus {
    font-size: 1.1rem;
    color: #333;
    text-align: center;
    margin-top: 1rem;
}

.bus-info-container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 25vh; // Adjust this value as needed
    overflow-y: auto;
    padding: 0.8rem;
    margin-bottom: 1rem;
    background-color: #fff; // To ensure it blends with the white-container
    border-radius: 1.5rem;

    .bus-info {
      display: flex;
      align-items: center;
      background-color: #f0f0f0;
      border-radius: 0.5rem;
      padding: 1rem;
      margin-bottom: 0.8rem;  

      ion-icon {
        color: #333;
        font-size: 2.5rem;
        margin-right: 0.5rem;
      }
      
      .bus-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        
        h4 {
          margin: 0 0 0 0;
          font-size: 1.3rem;
          color: #333;
        }

        p {
          margin: 0;
          font-size: 1.2rem;
          color: #333;
        }
      }
    }
}

.return-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  --color: #ffffff;
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;

  ion-icon {
    font-size: 3rem;
  }
}