<ion-content>
  <ion-button fill="clear" class="return-button" [routerLink]="['/login']">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <h1 class="app-title">SafeKIDS</h1>

  <div class="white-container">
    <div class="parent-info">
      <div class="parent-image">
        <img [src]="parentInfo.Imagen" alt="Foto del padre">
      </div>
      <div class="parent-details">
        <span class="label">Apoderado</span>
        <div class="details-content">
          <h2 class="name">{{ parentInfo.Nombre }} {{ parentInfo.Apellido }}</h2>
          <button class="edit-image-btn" (click)="editImage()">Editar Imagen 📝</button>
        </div>
      </div>
    </div>

    <h3 class="title-students">Estudiantes ({{ parentInfo.estudiantes.length }})</h3>
    <div class="students-container">
      <div class="student" *ngFor="let student of parentInfo.estudiantes">
        <img [src]="student.Imagen || 'assets/img/avatar-default.png'" [routerLink]="['/student-parents', student.id]" alt="{{ student.Nombre }}">
        <span class="name">{{ student.Nombre }}</span>
      </div>
    </div>

    <h3 class="title-bus">Viajes en Curso</h3>
    <div class="bus-info-container">
      <div class="bus-info" *ngFor="let student of parentInfo.estudiantes">
        <ng-container *ngFor="let viaje of student.viajes">
          <div class="bus-info" *ngFor="let student of parentInfo.estudiantes"></div>
          <div *ngIf="!viaje.Terminado" (click)="irAMapa(viaje.FK_VIConductor)">
            <p class="viaje-info">Alumno: {{ student.Nombre }} {{ student.Apellido }}</p>
            <p class="viaje-info">Patente: {{ viaje.FK_VIBus }}</p>
            <p class="viaje-info">Conductor: {{ viaje.FK_VICondNombre }} {{ viaje.FK_VICondApellido }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
